@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@media screen and (max-width: 500px){
    /* MAX WIDTH = TELA MENOR QUE ALGUMA RESOLUÇÃO */    
        p{
        color: yellow;
     }
    }

*{
    text-align: center;
    margin :auto;
    text-decoration: none; 

    font-size: 15px;
    font-family: 'Secular One', sans-serif;

}

body{
    margin: 10px;
    height: 100vh;
    width: auto;

    align-items: center;
    align-content: center;

    background-color: #000000;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);

    width: 150px;
    height: auto;
    padding: auto;
}

h2{
    text-align: center;
    color:rgb(255, 255, 255);
    width: 400px;
    padding: 2px;
    border-radius: 30px;
    background-color: #292b28;
}
h3{
    text-align: center;
    color: white;
    background-color: #ebebeb;
    border-radius: 30px;
    padding: 5px;
    width: 200px;
    height: 16px;
    font-size: 17px;
}

h4{
    text-align: center;
    color: white;
    background-color: #0d640a;
    border-radius: 30px;
    width: 350px;
    font-size: 16px;
}

a {
    color: white;
    font-size: 20px;
}

label{
    color: #ffffff;
    font-size: 18px;
}

abbr{
    font-size: 20px;
}

.carrousel{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    scroll-behavior: auto;


    width: auto;
    height: 100px;

    overscroll-behavior-x: contain ;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    background-color: #000000;
}

.card_img{
    margin-right: 6em;
    margin-bottom: 2.7em;
}

.card_index{
    margin-right: 2.0em;

}

.card_index a{
    color: white;
    text-decoration: none;

    padding: 0px 50px 10px 0px;
    font-size: 25pt;
    position: relative;
}


.card_index a::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;

    
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.card_index  a:hover::after{
    width: 100%;
}


.card_imagens{
    margin-right: 2.0em;

}

.card_imagens a {
    color: white;
    text-decoration: none;

    padding: 0px 50px 10px 0px;
    font-size: 25pt;
    position: relative;
}

.card_imagens a::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;

    
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.card_imagens a:hover::after{
    width: 100%;
}

.card_links{
    margin-right: 2.0em;

}

.card_links a {
    color: white;
    text-decoration: none;

    padding: 0px 50px 10px 0px;
    font-size: 25pt;
    position: relative;
}

.card_links a::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;

    
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.card_links a:hover::after{
    width: 100%;
}


.card_listas{
    margin-right: 2.0em;

}

.card_listas a{
    color: white;
    text-decoration: none;

    padding: 0px 50px 10px 0px;
    font-size: 25pt;
    position: relative;
}

.card_listas a::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;

    
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.card_listas a:hover::after{
    width: 100%;
}


.card_hierarquia{
    margin-top: 4em;

}

.card_hierarquia a {
    color: white;
    text-decoration: none;

    padding: 0px 50px 10px 0px;
    font-size: 25pt;
    position: relative;
}

.card_hierarquia a::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;

    
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.card_hierarquia a:hover::after{
    width: 100%;

}

.card_negrito{
    margin-right: 2.0em;

}

.card_negrito a{
    color: white;
    text-decoration: none;

    padding: 0px 50px 10px 0px;
    font-size: 25pt;
    position: relative;
}

.card_negrito a::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;

    
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.card_negrito a:hover::after{
    width: 100%;


}


.card_midia{
    margin-right: 2.0em;

}

.card_midia a{
    color: white;
    text-decoration: none;

    padding: 0px 50px 10px 0px;
    font-size: 25pt;
    position: relative;
}

.card_midia a::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;

    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.card_midia a:hover::after{
    width: 100%;

}


.card_formulario{

    margin-top: 3.5em;

}

.card_formulario a{
    color: white;
    text-decoration: none;

    padding: 0px 50px 10px 0px;
    font-size: 25pt;
    position: relative;
}

.card_formulario a::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: white;
    position: absolute;

    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.card_formulario a:hover::after{
    width: 100%;

}

.card_exit{
    margin-left: 2em;
    margin-bottom: 3.0em;

}

.card_final{
    width: 0%;
}

.card{
    display: flex;
    
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;

    width: auto;
    height: auto;
}

.titulo{
    text-align: center;
    font-size: 20px;
    color:antiquewhite;
}
.grupo{
    font-weight: 400;
    font-size: 18px;
    color:antiquewhite;
    border: 0.4px none;
    align-content: center;
    width: 50%; 
    margin: 0px auto;
}

.genero{
    font-weight: 400;
    font-size: 18px;
    color:antiquewhite;
    border: 20px none;
    width: 50%; 
    margin: 0px auto;
} 

.checkcbox_custom{
    background-color: none;
}

.container:hover input ~ .checkmark{
    background-color: #ccc;
}

.container input:checked ~ .checkmark{
    background-color: #ff0a54;
}

.uf{
    font-weight: 400;
    font-size: 18px;
    color:antiquewhite;
}

.personagem{
    font-weight: 400;
    font-size: 18px;
    color:antiquewhite;
    border: 0.4px none;
    align-content: center;
    width: 50%; 
    margin: 0px auto;
}

.experiencia{
    font-weight: 400;
    font-size: 18px;
    color: black;
    border: 0.4px none;
    border-radius: 30px;
    align-content: center;
    width: 60%; 
    margin: 0px auto;
}

#experiencia{
    border: 2px solid #2F2325;
}


.senioridade{
    font-size: 16px;
    border-radius: 6px;
    width: 150px;
    height: 25px;
}

.nome{   
    display: block;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    border: 2px solid #2F2325;
    width: 400px;
    height: 30px;
    margin: 10px auto;
}

.sobrenome{
    display: block;
    border-radius: 30px;
    border: 2px solid #2F2325;
    width: 400px;
    height: 30px;
    margin: 10px auto;
}
.email{
    display: block;
    border-radius: 30px;
    border: 2px solid #2F2325;
    width: 400px;
    height: 30px;
    margin: 10px auto;
}

.cabecalho-item:hover {
    color: rgb(255, 230, 0);
}

.cabecalho{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.cabecalho-foto{
    height: 120px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-item{
    color: white;
    font-weight: 400;
    font-size: 15px;
}

.concluido:hover {
    background-color: rgb(14, 148, 238);
}

.concluido{
    background-color: antiquewhite;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-weight: 400;
    font-size: 24px;
    color:#2F2325 ;
}

.conteudo-secundario{
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-bottom: 16px;
}

.rodape_2{
    width: auto;
    padding: 20px;
    border-top: 0.4px solid #FFF2E7;
}
 

.titulo_formulario{
    background-color: black;
    width: 500px;
    padding-bottom: 8px; 
    border-radius: 40px;
    color: white;
}

.search-box{
    padding: 0;
    background: yellow ;
    border-radius: 100em;

    width: auto;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;

    padding: 0;
    color: rgb(0, 0, 0);
    font-family: 'Secular One', sans-serif;

    font-size: 18px;
    line-height: 10px;

    width: 0;
    height: auto;
    transition: 0.5s;
}

::-webkit-input-placeholder{
    color: rgb(0, 0, 0);
}

.search-btn{
    width: 35px;
    height: 35px;
    padding: 4px;
    border-radius: 50%;

    background: rgba(150, 150, 68, 0.863);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;

}

.search-box:hover > .search-txt{
    width: 200px;
}

.search-box:hover > .search-btn {
    background: rgba(150, 150, 68, 0.863);
}










